# gitignore configuration for yew-ssg-template

# IDE settings
.vscode

# LLM settings

# LLM Plans and Context
.context/
.plans/

# Documentation
docs/book/

# Environment variables
.env

# Build Artifacts
dist/
target/