<footer>
    <p>
        <strong>taxus</strong> &mdash;
        founded in
        <a href="https://keats.github.io/tera/" target="_blank" rel="noopener noreferrer">Tera</a>
        &amp;
        <a href="https://yew.rs"  target="_blank" rel="noopener noreferrer">Yew</a>
    </p>
    <p>&copy; {{ now.year }} &middot; <a href="https://jeff-mitchell.dev" target="_blank" rel="noopener noreferrer">Jeffery D. Mitchell</a></p>
    <p style="margin-top: 0.5rem;">
    <a href="https://github.com/crustyrustacean/taxus" target="_blank" rel="noopener noreferrer">GitHub</a>
        &middot;
    <a href="https://crustyrustacean.github.io/taxus" target="_blank" rel="noopener noreferrer">Docs</a>
    </p>
</footer>