{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ site.name }}{% endblock %}

{% block content %}
<article class="section-content">

  <h2>{{ page.date }}</h2>

  <h2>{{ page.title }}</h2>

   {% if page.description %}
  <p class="description">{{ page.description }}</p>
  {% endif %}

  {% if page.hero %}
  <picture>
    <source srcset="{{ page.hero.srcset | safe }}" type="{{ page.hero.mime_type }}">
    <img src="{{ page.hero.src }}"
       alt="{{ page.hero.alt }}"
       width="{{ page.hero.width }}"
       height="{{ page.hero.height }}">
  </picture>
{% endif %}

  {{ page.content | safe }}

</article>
{% endblock %}
